[["basf-tos-1" :tos/full-text "
Disclaimer

Home Disclaimer Disclaimer General Information
The Site is operated by BASF and all rights thereto are owned and reserved by BASF.
Liability for Content
The content provided has been created with greatest care. For the accuracy, completeness, reliability, usability and timeliness of the content, BASF cannot guarantee. The respective user is therefore generally obliged to professionally check or to have professionally checked the suitability of all content for its intended use.
BASF is responsible for own contents on these websites under the general laws. However, BASF is not obliged to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information under the general laws remain unaffected. However, liability is only possible from the date of knowledge of a specific infringement. Upon notification of such violations, BASF will remove the content immediately.
This website and any product information (hereinafter\" Product Information \"or\" Product Content\")\" are provided “as is\" and to the extent permitted by law, without any kind of (express or implied) guarantee, commitment or liability. Except in case of willful misconduct, BASF is not liable for damages that are caused by or in connection with the use of this information. In any case, BASF is not responsible for and assumes no liability for any indirect, incidental or consequential damages that are caused by or in connection with the use of such content.
Liability for Links
The contents on this website also contain links to external websites on which BASF has no control. Therefore BASF cannot accept any responsibility for their content. The respective provider or operator of these external websites is always responsible for their content. The linked websites were checked at the time of linking for possible violations of law. Illegal contents were not recognizable. A permanent control of the linked pages is unreasonable without concrete evidence of a violation. Upon notification of violations, BASF will remove such links immediately. Further BASF is not responsible for the availability of these sites or their contents.
Copyright Law
The contents and works on these pages compiled by BASF are subject to copyright law. Copying, processing, distribution and any kind of use outside the limits of copyright law require the written consent of BASF. In case the content is not created by BASF, the copyrights of third parties are being observed. In particular contents of third parties are marked as such. However, if a user becomes aware of a copyright infringement, BASF asks the user for notification. Upon notification of such violations, BASF will remove the content immediately.
Product Information
Information and documents from third parties
As far as Product Information provided to the user is based on the inventory data of any third parties, the date of the last update can be taken from the data sheet.
Although BASF made every effort to warrant the accuracy, completeness, reliability, timeliness and usefulness of information by third parties, BASF disclaims to the extent permitted by law, any warranty or liability.
BASF Information and Documents
Information on BASF Products is based on BASF’s current knowledge and experience and complies with the determinations of the admission authority. However, this does not release the user to conduct own examinations and tests due to the number of factors that may affect processing and application of the product. Since the storage and use are beyond BASF’s control and BASF cannot foresee all relevant circumstances, BASF excludes any liability for damages resulting from improper storage and use.
The application of the product in such areas that are not described in this manual has not been checked by BASF. This applies especially for applications that are covered by a permit or license by the admission authority, but are not recommended by BASF. BASF therefore excludes all liability for any damages resulting from such application.
Diverse, especially local or regional environment factors can influence the effect of the product. For such consequences BASF or BASF’s distribution partners cannot accept any liability.
Existing proprietary rights, laws and regulations and the stipulations of approval of the product and the instructions are to be observed by the user of the product. All statements and information made herein are subject to change without notice.
General Conditions of Sale
Except as otherwise specifically provided in writing, BASF's General Conditions of Sale shall not be altered by this website, its content, materials and information.
Changes and Updates
Without liability whatsoever BASF may without notice modify and/or discontinue operation of all or portions of this Site at any time in its sole discretion, and assumes no responsibility to update the Site
Final Provisions
Any claims or suits associated with the Site or its use shall be governed and construed in accordance with the laws of Germany, excluding its conflicts of law principles. Follow us Company Career Media Sustainability Innovation Products Product Finder Industries Information Latest News Multimedia Publications Locations eBusiness Service Compliance Hotline Data protection @BASF BASF Japan Privacy Policy Copyright © BASF 2026 Disclaimer Cookie Preference Center Credits Responsible Disclosure Statement Privacy policy Data protection @BASF BASF Japan Privacy Policy Contact TOP
" 1 :add]
 ["basf-tos-1" :tos/source-url "https://www.basf.com/jp/en/legal/disclaimer.html" 1 :add]
 ["basf-tos-1" :tos/retrieved-at "2026-07-10" 1 :add]
 ["basf-tos-1" :tos/sha256 "64c00e87ed3ae56065ca25f7c5f5cadaf35344ae2d1fe4f078a0c01d2891ac26" 1 :add]
 ["basf-tos-1" :tos/doc-type :terms-of-service 1 :add]]
